.fill {
    min-height: 400px;
}

.bg-img{
    background-position: center !important;
    background-repeat: no-repeat !important;
    overflow: hidden;
    background-size: cover !important;
}

.card-box-a{
    height: 100%;
}

.img-box-a{
    height: 100% !important;
}