{% extends "./layout.html" %}
{% block title %}CMS - Houses{% endblock %}
{% block body %}
<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{ property.prop_name }}</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{{ host }}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{{ host }}/properties">Propiedades</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ property.prop_name }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Property Single ======= -->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row justify-content-center m-0">
        <div class="col-12 col-lg-8">
          <div id="property-single-carousel" class="swiper-container">
            <div class="swiper-wrapper">
              {# Imágenes de la propiedad #}
              {% for image in images %}
              <div class="carousel-item-b swiper-slide d-flex justify-content-center">
                <img class="img-fluid" src="{{ image.img_path }}" alt="imagen de propiedad" style="max-height: 600px;">
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="property-single-carousel-pagination carousel-pagination"></div>
        </div>
        <div class="col-12 col-lg-4">
          {# Precio #}
          <div class="d-flex justify-content-center">
            <div class="card-header-c d-flex p-0 my-3">
              <div class="card-box-ico p-0 d-flex flex-column align-item-center shadow rounded">
                <span class="bi bi-cash align-self-center"></span>
                <h3 class="title-c m-0 px-2">{{ property.prop_price }} MXN</h3>
              </div>
            </div>
          </div>
          {# Aqui va datos #}
          <div class="property-summary">
            <div class="row">
              <div class="col-sm-12">
                <div class="title-box-d section-t4">
                  <h3 class="title-d">Datos</h3>
                </div>
              </div>
            </div>
            <div class="summary-list">
              <ul class="list">
                <li class="d-flex justify-content-between">
                  <strong>Dirección:</strong>
                  <span>{{ property.prop_location}}, {{ property.prop_address }}</span>
                </li>
                <li class="d-flex justify-content-between">
                  <strong>Tipo de Propiedad:</strong>
                  <span>{{ property.prop_category }}</span>
                </li>
                <li class="d-flex justify-content-between">
                  <strong>Area:</strong>
                  <span>{{ property.prop_area}} m<sup>2</sup>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-between mt-3">
          <div class="row m-0">
            <div class="col-12 col-lg-8 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Descripción</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a text-break">
                  {{ property.prop_description }}
                </p>
              </div>
            </div>
            <div class="col col-lg-4 rounded p-3 color-d shadow" style="background-color: rgb(243, 243, 243);">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    {% if property.prop_category == 'Casa' %}
                    <h3 class="title-d">Habitaciones:</h3>
                    {% elseif property.prop_category == 'Terreno' %}
                    <h3 class="title-d">Características:</h3>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list no-margin">
                  {% if features is empty %}
                  <p class="text-muted text-center">No existen características...</p>
                  {% else %}
                  {% for feature in features %}
                  <li>{{ feature.feature_content }}</li>
                  {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Property Single-->

</main><!-- End #main -->
{% endblock %}