{% extends "./layout.html" %}
{% block title %}SE - Bienvenido{% endblock %}
{% block additional_sources %}
  <script type="text/javascript" src="views/custom_assets/jquery/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ host }}/views/custom_assets/css/index/card_slider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock %}
{% block body %}
<div class="intro intro-carousel swiper-container position-relative">

  <div class="swiper-wrapper" latest_properties>
    

  </div>
  <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Servicios</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-person"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c" style="background: #fff;">Sobre mi</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Me llamo Sergio E. Buerba, soy un agente inmobiliario serio, rápido y motivado por mi profesión.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-house"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c" style="background: #fff;">Propiedades</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Aquí podrás ver especificaciones de las propiedades que estoy actualmente ofreciendo, cualquier duda adicional o
                consulta, me la puedes hacer mediante correo o teléfono.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-search"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c" style="background: #fff;">Busqueda</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                De ser que necesites una propiedad con ciertas especificaciones y no la encuentras enlistada, me puedes contactar y yo puedo
                ayudarte a encontrarla!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Propiedades Recientes</h2>
            </div>
            <div class="title-link">
              <a href="properties.html">Todas las propiedades
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <section class="carousel slider" data-ride="carousel" id="postsCarousel">
        {# <div class="container">
          <div class="row">
            <div class="col-12 text-right mb-4 d-flex">
              <a href="" class="btn btn-outline-secondary prev" title="go back"><i class="fas fa-chevron-left"
                  aria-hidden="true"></i>
              </a>
              <a href="" class="btn btn-outline-secondary next" title="more"><i class="fa fa-chevron-right"
                  aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div> #}

        <div class="container carousel-inner position-relative d-flex justify-content-center pb-3 pb-md-0" recent_properties>
            <a href="" class="btn btn-outline-secondary prev position-absolute top-50 start-0 translate-middle-y"
              style="z-index:10;" title="go back" carousel-control><i class="fas fa-chevron-left" aria-hidden="true" ></i>
            </a>
            <a href="" class="btn btn-outline-secondary next position-absolute top-50 end-0 translate-middle-y"
            style="z-index:10;" title="more" carousel-control><i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
      </section>
      <div class="propery-carousel-pagination carousel-pagination"></div>

    </div>
  </section><!-- End Latest Properties Section -->

</main><!-- End #main -->
{% endblock %}
{% block aditional_js %}
  <script type="text/javascript" src="{{ host }}/views/custom_assets/js/index/index.js"></script>
  <script type="text/javascript" src="{{ host }}/views/custom_assets/js/index/card_slider.js"></script>
{% endblock %}