{# TODO: Hacer el primer carousel y ver qué pedo con la vista de detalle #}
{% extends "./layout.html" %}
{% block title %}SE - Bienvenido{% endblock %}
{% block additional_sources %}
  <script type="text/javascript" src="views/custom_assets/jquery/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="views/custom_assets/css/index/card_slider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock %}
{% block body %}
<div class="intro intro-carousel swiper-container position-relative">

  <div class="swiper-wrapper">

    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(views/assets/img/slide-1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Doral, Florida
                    <br> 78345
                  </p>
                  <h1 class="intro-title mb-4 ">
                    <span class="color-d">204 </span> Mount
                    <br> Olive Road Two
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">renta | $ 12.000 MXN</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(views/assets/img/slide-2.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Doral, Florida
                    <br> 78345
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-d">204 </span> Rino
                    <br> Venda Road Five
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">renta | $ 12.000 MXN</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(views/assets/img/slide-3.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Doral, Florida
                    <br> 78345
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-d">204 </span> Alira
                    <br> Roan Road One
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">renta | $ 12.000 MXN</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Servicios</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-cart"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Lifestyle</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                convallis a pellentesque
                nec, egestas non nisi.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Leer más
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-calendar4-week"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Loans</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit
                aliquet elit, eget tincidunt
                nibh pulvinar a.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Leer más
                <span class="bi bi-calendar4-week"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Sell</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
                convallis a pellentesque
                nec, egestas non nisi.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Leer más
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Propiedades Recientes</h2>
            </div>
            <div class="title-link">
              <a href="properties.html">Todas las propiedades
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <section class="carousel slider" data-ride="carousel" id="postsCarousel">
        {# <div class="container">
          <div class="row">
            <div class="col-12 text-right mb-4 d-flex">
              <a href="" class="btn btn-outline-secondary prev" title="go back"><i class="fas fa-chevron-left"
                  aria-hidden="true"></i>
              </a>
              <a href="" class="btn btn-outline-secondary next" title="more"><i class="fa fa-chevron-right"
                  aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div> #}

        <div class="container carousel-inner position-relative d-flex justify-content-center pb-3 pb-md-0" latest_properties>
            <a href="" class="btn btn-outline-secondary prev position-absolute top-50 start-0 translate-middle-y"
              style="z-index:10;" title="go back"><i class="fas fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a href="" class="btn btn-outline-secondary next position-absolute top-50 end-0 translate-middle-y"
            style="z-index:10;" title="more"><i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
      </section>
      <div class="propery-carousel-pagination carousel-pagination"></div>

    </div>
  </section><!-- End Latest Properties Section -->

</main><!-- End #main -->
{% endblock %}
{% block aditional_js %}
<script type="text/javascript" src="views/custom_assets/js/index/index.js"></script>
<script type="text/javascript" src="views/custom_assets/js/index/card_slider.js"></script>

{% endblock %}