{% extends "./layout.html" %}
{% block title %}SE - Property List{% endblock %}
{% block additional_sources %}
  <link rel="stylesheet" href="{{ host }}/views/custom_assets/css/edit_property/edit_property.css">
  <script type="text/javascript" src="{{ host }}/views/custom_assets/jquery/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block body %}
<main id="main" class="mt-2">
  <section class="section-services section-t8">
    <div class="container">
      <h3>Búsqueda</h3>
      <div class="input-group">
        <input type="text" name="prop_name" id="prop_name" class="form-control" placeholder="Nombre" />
        <input type="text" name="prop_id" id="prop_id" class="form-control" placeholder="ID" />
        <input type="date" name="prop_pub_date" id="prop_pub_date" class="form-control" />
      </div>
      <div class="d-grid gap-2 col-6 mx-auto my-3">
        <a class="btn btn-primary" href="{{host}}/add-property">Añadir nueva propiedad</a>
      </div>
      <h3>Resultados de Búsqueda</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Categoría</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Locación</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
{% block aditional_js %}
  <script type="text/javascript" src="{{ host }}/views/custom_assets/js/property_list/property_list.js"></script>
{% endblock %}