{% extends "./layout.html" %}
{% block title %}SB - Propiedades{% endblock %}
{% block additional_sources %}
  <link rel="stylesheet" href="{{ host }}/views/custom_assets/css/properties/properties.css">
  <script type="text/javascript" src="{{ host }}/views/custom_assets/jquery/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block body %}
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Propiedades Disponibles</h1>
              <span class="color-text-a">Activas</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ host }}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Propiedades
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form>
                <select class="custom-select">
                  {% for category in categories %}
                    <option value="{{ category.cat_id }}">{{ category.cat_name }}</option>
                  {% endfor %}
                </select>
              </form>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <span class="page-link" tabindex="-1">
                    <span class="bi bi-chevron-left"></span>
                  </span>
                </li>
                <li class="page-item">
                  <span class="page-link">1</span>
                </li>
                <li class="page-item next">
                  <span class="page-link">
                    <span class="bi bi-chevron-right"></span>
                  </span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->
  {% endblock %}
  {% block aditional_js %}
    <script type="text/javascript" src="{{ host }}/views/custom_assets/js/properties/properties.js?buerbainmueblesv1.0"></script>
  {% endblock %}